<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="site-header">
    <nav class="navbar">
        <div class="nav-left">
            <a class="brand" href="/">Arcane Chronicles</a>
        </div>

        <div class="nav-right">
            <a href="/characters">Character Sheet</a>
            <a href="/quests/create">Create Quest</a>
            <a href="/quests">Quests</a>
        </div>
    </nav>
</header>


<main>
    <%- body %>
</main>

<footer>
    <p>Arcane Chronicles © 2026</p>
</footer>

</body>
</html>
